.previewComponent,.available,.applied{
  text-align: center;
  margin-top: 20px;
}

img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

button {
  margin: 5pt;
  height: 30px;
  width: 100px;
  text-align: left;
}

.hidden{
  opacity:0;
}

.edit {
  text-align: center; /* Center align all content within the edit container */
}

.imgPreview {
  margin-bottom: 20px; /* Add margin at the bottom */
}

.processButton {
  margin-top: 20px; /* Add margin at the top */
}
